/* ==NAV== */
.navbar {
  background-color: #5e90c9 !important;
}

.navbar-brand {
  color: white !important;
  font-family: helvetica, sans-serif;
}

.nav-link {
  color: white !important;
  font-family: helvetica, sans-serif;
}

/* ==MAIN CONTENT== */
.content {
  margin-top: 50px;
  padding: 10px 50px;
}

h2 {
  color: #2c3f8f;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

h5 {
  color: #2c3f8f;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

body {
  background-color: #f1e7d9;
  margin-bottom: 120px;
}

p {
  font-family: helvetica, sans-serif !important;
}

.btn {
  background-color: #5e90c9 !important;
  border: #5e90c9 !important;
  color: white !important;
  margin: 2px;
}

.card {
  margin-bottom: 10px;
}

.card-img-top {
  border-bottom: solid #2c3f8f 2px;
}

/* ==Bio Pic== */
.card-img {
  height: 200px;
  width: 200px;
  margin-right: 10px;
  float: left;
}

.port-pic {
  margin: 5px;
}

/* ==FOOTER== */
footer {
  background-color: #5e90c9;
  color: #a6d2f9;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 115px;
}
.navicon {
  color: white;
}
